.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(4, 3, 11, 0.7), rgba(43, 38, 75, 0.7)), url('../../assets/images/hero.JPG');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;        /* <-- esto separa todos los elementos entre sí */
    padding: 40px 20px;
}

.hero-text h1 {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
}

.hero-text h2 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
}

.hero-text p {
    max-width: 700px;
    margin: 0;
    line-height: 1.6;
    opacity: 0.9;
}

.btn {
    padding: 14px 32px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    
   
}

.btn:hover {
    background: #fff;
    color: #000;
}