html {
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    
    color: #fff;
    padding: 4px 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background: rgba(0,0,0,0.6);
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

.section {
  min-height: 100vh;
  padding: 80px 20px;
  background: #f4f4f4;
  color: #333;
}