@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body {
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container {
    padding-left: 10%;
    padding-right: 10%;
}
.btn {
    background: white;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn img {
    width: 20px;
    margin-left: 10px;
}
.us-text {
    text-align: center;
    padding-bottom: 10px;

}
.us-text-p {
  font-size: 1.25rem;
  line-height: 1.8;
  color: #444;
  max-width: 850px;
  margin: 0 auto 2.5rem auto;
  vertical-align: top;
  flex: 1;
}
.us-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.proyectos-text {
    text-align: center;
    padding-bottom: 10px;

    
}
.proyectos-text-p {

  font-size: 1.15rem;
  line-height: 1.8;
  color: #444;
  max-width: 850px;
  margin: 0 auto 2.5rem auto;

}
.proyectos-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 100%;
    height: auto;
    border-radius: 10px;
    flex: 1;
    padding-top: 5px;
}

.actividades {
    text-align: center;
}

.text-actividades {
  font-size: 1.25rem;
  line-height: 1.8;
  color: #444;
  max-width: 850px;
  margin: 0 auto 2.5rem auto;
  vertical-align: top;
  flex: 1;
}
.actividades-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.btn-2 {
    background: #212121;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;   
    margin-top: 10px;    
}
.contact-text {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
}

.icon-socials {
 width: 20px;
  height: 20px;
}
.icon-p {
  display: flex;
  align-items: center;  
  gap: 8px;             
  margin: 8px 0;
}